@import url('https://fonts.googleapis.com/css2?family=Exile&display=swap');

:root {
    --cor-principal: #ecdcec;
    --cor-secundaria: #fdfef5;
    --cor-destaque: #d9c633;
}

body {
    font-family: 'Exile', sans-serif;
    background: linear-gradient(to bottom, #4f364c, #9b789c  );
}

h1,
h2,
h5 {
    color: var(--cor-secundaria);
    font-weight: 700;
}

footer a {
    color: var(--cor-principal);
}

footer a :hover {
    color: var(--cor-destaque);
}